body[appearance="light"] {
  background: white;
}

body[appearance="light"] .navbar {
  background: lightgrey;
}

body[appearance="light"] .navname {
  color: black;
}

body[appearance="light"] a {
  color: black;
}

body[appearance="light"] .apptitle {
  color: black;
}

body[appearance="light"] .csstitle {
  color: black;
}

body[appearance="light"] .setitle {
  color: black;
}

body[appearance="light"] .settab2 {
  color: black;
}

body[appearance="light"] .settab8 {
  color: black;
  border: 1.5px solid black;
}

body[appearance="light"] .setcssinput {
  color: black;
  border: 1.5px solid black;
}

body[appearance="light"] .settit {
  color: black;
  border: 1.5px solid black;
}

body[appearance="light"] .setfav {
  color: black;
  border: 1.5px solid black;
}

body[appearance="light"] .setcssbtn {
  color: black;
  border: 1.5px solid black;
}

body[appearance="light"] .settab3 {
  border: 1px solid black;
}

body[appearance="light"] .settab4 {
  border: 1px solid black;
}

body[appearance="light"] .settab5 {
  border: 1px solid black;
}

body[appearance="light"] .settab6 {
  border: 1px solid black;
}

body[appearance="light"] .settab7 {
  border: 1px solid black;
}

body[appearance="light"] .se {
  color: black;
  border: 1px solid black;
}

body[appearance="light"] .seactive {
    background: black;
    border: 1px solid black;
    color: white;
}

body[appearance="light"] .chooseapp {
  color: black;
  border: 1px solid black;
}

body[appearance="light"] .chooseappactive {
    background: black;
    border: 1px solid black;
    color: white;
}

body[appearance="light"] .homename {
  color: black;
}

body[appearance="light"] .search {
  color: black;
  border: 2.5px solid black;
}

body[appearance="light"] .proxy {
  border: 2.5px solid black;
  color: black;
}

body[appearance="light"] .proxysel {
    color: white;
    background-color: black;
}

body[appearance="light"] .footer {
  color: black;
}

body[appearance="light"] .icon {
  border: 1px solid black;
}

body[appearance="light"] .searchgames {
  color: black;
  border: 1.5px solid black;
}

body[appearance="light"] #nogame {
  color: black;
}

body[appearance="light"] .gameinfo {
  color: black;
}

body[appearance="light"] .game {
  border: 1px solid black;
}

body[appearance="light"] .title {
  color: black;
}

body[appearance="light"] .body {
  color: black;
}

body[appearance="light"] #info {
  color: black;
  border: 1px solid black;
}

body[appearance="light"] #docspage {
color: black;
}

body[appearance="light"] .link {
color: black !important;
}

body[appearance="light"] #searchyoutube {
  color: black;
  border: 1.5px solid black;
}