@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

body {
background-color: #121212;
--light: #f2f2f2;
--blue: #2493ff;
}

* {
font-family: 'Roboto';
}

::-webkit-scrollbar {
display: none;
}

::placeholder {
color: #666666;
}

.navbar {
background-color: #343333;
height: 60px;
position: fixed;
top: 0;
left: 0;
right: 0;
}

.navname {
color: var(--light);
font-size: 35px;
padding: 8px;
padding-left: 15px;
font-family: Quicksand;
}

.navitem {
color: var(--light);
font-size: 16px;
position: fixed;
top: 20px;
}

.home {
right: 350px;
}

.arcade {
right: 250px;
}

.chatbox {
right: 150px;
}

.settings {
right: 50px;
}

a {
text-decoration: none;
color: var(--light);
}

.footer {
color :var(--light);
position: fixed;
bottom: 3px;
text-align: center;
width: 100%;
font-size: 12px;
}

.link {
color: white !important;
}

.homename {
color: white;
font-size: 60px;
text-align: center;
margin-top: 285px;
margin-bottom: 20px;
}

.homelogo {
position: absolute;
top: 75px;
width: 100%
}

.search {
border-radius: 5px;
outline: none;
border: 2.5px solid white;
font-size: 16px;
padding: 5px;
width: 45%;
height: 30px;
background-color: rgb(16,16,16,0);
padding-left: 40px;
color: white;
}

.searchicon {
position: absolute;
top: 388px;
margin-left: 12px;
color: #666666;
font-size: 22px;
}

#chatbox {
position: absolute;
top: 60px; 
left: 0; 
right: 0; 
bottom: 0;
border: none;
}

.icons-pos {
position: fixed;
bottom: 30px;
width: 100%;
}

.icons {
display: flex;
justify-content: center;
align-items: center;
}

.icon{
border-radius: 50%;
border: 1px solid rgb(255, 255, 255, .2);
width: 38px;
height: 38px;
display: flex;
margin-right: 3px;
margin-left: 3px;
align-items: center;
justify-content: center;
cursor: pointer;
}


#surf {
position: fixed;
top: 60px; 
left: 0; 
right: 0; 
bottom: 0;
border: none;
z-index: 10;
display: none;
background: white;
}

#arcade {
position: fixed;
top: 60px; 
left: 0; 
right: 0; 
bottom: 0;
border: none;
z-index: 10;
display: none;
background: white;
}

#closesurf {
display: none;
position: fixed;
top: 70px; 
right: 10px; 
background-color: #2493ff;
border-radius: 2.5px;
height: 40px;
width: 40px;
text-align: center;
z-index: 11;
cursor: pointer;
}

#reloadsurf {
display: none;
position: absolute;
top: 70px; 
right: 60px; 
background-color: #2493ff;
border-radius: 2.5px;
height: 40px;
width: 40px;
text-align: center;
z-index: 11;
cursor: pointer;
}

#closearcade {
display: none;
position: fixed;
top: 70px; 
right: 10px; 
background-color: #2493ff;
border-radius: 2.5px;
height: 40px;
width: 40px;
text-align: center;
z-index: 11;
cursor: pointer;
}

#fullarcade {
display: none;
position: fixed;
top: 70px; 
right: 60px; 
background-color: #2493ff;
border-radius: 2.5px;
height: 40px;
width: 40px;
text-align: center;
z-index: 11;
cursor: pointer;
}

#closeicon {
color: black;
font-size: 30px;
line-height: 40px;
}

#reloadicon {
color: black;
font-size: 25px;
line-height: 40px;
}

#closearcadeicon {
color: black;
font-size: 30px;
line-height: 40px;
}

#fullarcadeicon {
color: black;
font-size: 30px;
line-height: 40px;
}

.games {
display: flex;
flex-wrap: wrap;
width: 100%;
height: 100%;
}

.game {
width: 230px;
height: 310px;
border-radius: 8px;
cursor: pointer;
border: 1px solid white;
display: inline-block;
margin-right: 35px;
margin-left: 35px;
margin-top: 15px;
margin-bottom: 15px;
}

.searchgames {
width: 70%;
margin-top: 75px;
margin-bottom: 5px;
outline: none;
color: white;
border-radius: 5px;
padding: 5px;
padding-left: 8px;
border: 1.5px solid white;
font-size: 16px;
height: 30px;
background-color: rgb(16,16,16,0);
}

.gameimg {
width: 100%;
height: 265px;
border-bottom: 1px solid white;
border-radius: 8px 8px 0px 0px;
object-fit: cover;
}

.gameinfo {
width: 100%;
text-align: center;
overflow: hidden;
text-overflow: ellipsis;
color: white;
font-size: 16px;
line-height: 35px;
}

.settab, .settab2 {
margin-top: 75px;
color: white;
text-align: center;
font-size: 35px;
}

.settab2 {
margin-bottom: 7px;
font-size: 40px;
}

.settab8 {
width: 30%;
margin-top: 14px;
outline: none;
color: white;
border-radius: 5px;
padding: 3px;
padding-left: 8px;
border: 1.5px solid white;
font-size: 15px;
height: 28px;
background-color: rgb(16,16,16,0);
}

.settit, .setfav, .setcssbtn {
width: 62px;
color: white;
border-radius: 5px;
padding: 3px;
border: 1.5px solid white;
font-size: 15px;
height: 38px;
background-color: rgb(16,16,16,0);
cursor: pointer;
margin-top: 14px;
}

.settabs {
display: flex;
flex-direction: row;    
justify-content: center; 
align-items: center;
margin-top: 6px;
margin-bottom: 6px;
}

.settab3, .settab4, .settab5, .settab6, .settab7 {
margin-left: 5px;
margin-right: 5px;
cursor: pointer;
border-radius: 50%;
border: 1px solid rgb(255, 255, 255, .5);
height: 40px;
width: 40px;
}

.setimg {
height: 28px;
}

.title {
margin-top: 75px;
color: white;
text-align: center;
font-size: 40px;
}

.body {
color: white;
text-align: center;
font-size: 20px;
margin-top: 7px;
line-height: 35px;
}

#info {
position: fixed;
bottom: 80px;
justify-content: center;
align-items: center;
width: fit-content;
height: 40px;
background: transparent;
right: 0;
left: 0;
margin-right: auto;
margin-left: auto;
border: 1px solid rgb(255, 255, 255, .2);
border-radius: 2.5px;
text-align: center;
color: white;
display: none;
padding: 5px;
}

.infoitem {
margin-left: 5px;
margin-right: 5px;
font-size: 16px;
cursor: pointer;
}

.infoitem:hover {
  text-decoration: underline;
}

.proxies {
display: flex;
flex-direction: row;    
justify-content: center; 
align-items: center;
}

.proxy {
border-radius: 5px;
border: 2.5px solid white;
font-size: 16px;
padding: 5px;
padding-top: 10px;
padding-bottom: 0;
width: 70px;
height: 30px;
background-color: rgb(16,16,16,0);
color: white;
margin: 5px;
margin-top: 15px;
cursor: pointer;
}

.proxysel {
color: black;
background-color: white;
}

.setitle {
margin-top: 15px;
color: white;
text-align: center;
font-size: 40px;
}

.sesel {
display: flex;
flex-direction: row;    
justify-content: center; 
align-items: center;
margin-top: 6px;
margin-bottom: 6px;
}

.se {
margin-left: 5px;
margin-right: 5px;
cursor: pointer;
border-radius: 30px;
border: 1px solid rgb(255, 255, 255, .5);
color: white;
text-align: center;
padding: 14px 18px;
}

.seactive {
background: white;
border: 1px solid white;
color: black;
}

#nogame {
font-size: 20px;
text-align: center;
margin-top: 7px;
color: white;
display: none;
}

.homepage {
overflow: hidden;
}

.setapp {
margin-top: 15px;
}

.apptitle {
margin-top: 15px;
color: white;
text-align: center;
font-size: 40px;
}

.chooseappsel {
display: flex;
flex-direction: row;    
justify-content: center; 
align-items: center;
margin-top: 6px;
margin-bottom: 6px;
}

.chooseapp {
margin-left: 5px;
margin-right: 5px;
cursor: pointer;
border-radius: 30px;
border: 1px solid rgb(255, 255, 255, .5);
color: white;
text-align: center;
padding: 14px 18px;
}

.chooseappactive {
background: white;
border: 1px solid white;
color: black;
}

#docspage {
margin-top: 75px;
color: white;
line-height: 35px;
}

.setcss {
margin-top: 15px;
}

.csstitle {
margin-top: 15px;
color: white;
text-align: center;
font-size: 40px;
}

.setcssmain {
display: flex;
flex-direction: row;    
justify-content: center; 
align-items: center;
margin-top: 6px;
margin-bottom: 6px;
}

.setcssinput {
width: 30%;
margin-top: 14px;
outline: none;
color: white;
border-radius: 5px;
padding: 3px;
padding-left: 8px;
border: 1.5px solid white;
font-size: 15px;
height: 28px;
background-color: rgb(16,16,16,0);
margin-right: 8px;
}

.navitem:hover {
text-decoration: underline;
}

.underline:hover {
  text-decoration: underline;
}

#searchyoutube {
width: 70%;
margin-top: 10px;
margin-bottom: 5px;
outline: none;
color: white;
border-radius: 5px;
padding: 5px;
padding-left: 8px;
border: 1.5px solid white;
font-size: 16px;
height: 30px;
background-color: rgb(16,16,16,0);
}