@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.navbar {
background-color: #343333;
height: 60px;
position: absolute;
top: 0;
left: 0;
right: 0;
}

body {
background-color: #121212;
}

* {
font-family: 'Roboto';
}

.navname {
color: #f2f2f2;
font-size: 35px;
padding: 8px;
padding-left: 15px;
}

.navitem {
color: #f2f2f2;
font-size: 16px;
position: absolute;
top: 20px;
}

.proxies {
right: 350px;
}

.arcade {
right: 250px;
}

.chatbox {
right: 150px;
}

.settings {
right: 50px;
}

a {
text-decoration: none;
color: #f2f2f2;
}

.footer {
color: #f2f2f2;
position: fixed;
bottom: 3px;
text-align: center;
width: 100%;
font-size: 12px;
}

.link {
color: #3377ff;
}

::-webkit-scrollbar {
display: none;
}
